neverallow coredomain vendor_service:service_manager add;
allow coredomain system_file:file { execute getattr map open read };
allow coredomain system_data_file:dir getattr;
attribute coredomain_hwservice;
attribute coredomain;
