allow vendor_episteme_app app_api_service:service_manager find;
get_prop(vendor_episteme_app, vendor_episteme_prop)
app_domain(vendor_episteme_app)
hal_client_domain(vendor_episteme_app, vendor_hal_qesdhal)
hal_client_domain(vendor_episteme_app, vendor_hal_qms_qti)
type vendor_episteme_app, domain;
