allow gpuservice statsd:binder transfer;
allow gpuservice bluetooth:binder transfer;
get_prop(gpuservice, graphics_config_prop)
type gpuservice, domain;
