allow hal_cit_bluetooth_sub hal_cit_bluetooth_default:process sigchld;
allow hal_cit_bluetooth_sub hal_cit_bluetooth_default:fd *;
allow hal_cit_bluetooth_sub hal_cit_bluetooth_default:fifo_file { getattr write };
allow hal_cit_bluetooth_sub vendor_file:file execute_no_trans;
unix_socket_connect(hal_cit_bluetooth_sub, property, wdsdaemon)
get_prop(hal_cit_bluetooth_sub, vendor_bluetooth_prop)
set_prop(hal_cit_bluetooth_sub, vendor_cit_bluetooth_sub_prop)
type hal_cit_bluetooth_sub, domain;
