allow netutils_wrapper vendor_netmgrd:process sigchld;
allow netutils_wrapper vendor_netmgrd:fd *;
allow netutils_wrapper vendor_netmgrd:fifo_file { getattr read write };
allow netutils_wrapper vendor_netmgrd:netlink_route_socket { read write };
allow netutils_wrapper vendor_netmgrd:unix_stream_socket { read write };
allow netutils_wrapper vendor_netmgrd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_netmgrd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_netmgrd:udp_socket { read write };
allow netutils_wrapper vendor_netmgrd:tcp_socket { read write };
allow netutils_wrapper vendor_dpmd:process sigchld;
allow netutils_wrapper vendor_dpmd:fd *;
allow netutils_wrapper vendor_dpmd:fifo_file { getattr read write };
allow netutils_wrapper vendor_dpmd:netlink_route_socket { read write };
allow netutils_wrapper vendor_dpmd:unix_stream_socket { read write };
allow netutils_wrapper vendor_dpmd:netlink_generic_socket { read write };
allow netutils_wrapper vendor_dpmd:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_dpmd:udp_socket { read write };
allow netutils_wrapper vendor_dpmd:tcp_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:process sigchld;
allow netutils_wrapper vendor_dpmd_vndr:fd *;
allow netutils_wrapper vendor_dpmd_vndr:fifo_file { getattr read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_route_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:unix_stream_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_generic_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:netlink_xfrm_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:udp_socket { read write };
allow netutils_wrapper vendor_dpmd_vndr:tcp_socket { read write };
allow netutils_wrapper slad:fd *;
allow netutils_wrapper slad:fifo_file write;
allow netutils_wrapper slad:unix_stream_socket { read write };
allow netutils_wrapper slad:tcp_socket { read write };
allow netutils_wrapper slad:rawip_socket { read write };
allow netutils_wrapper miwild:fd *;
allow netutils_wrapper miwild:fifo_file write;
allow netutils_wrapper miwild:unix_stream_socket { read write };
allow netutils_wrapper minetd:fd *;
allow netutils_wrapper minetd:fifo_file write;
allow netutils_wrapper minetd:unix_stream_socket { read write };
dontaudit netutils_wrapper self:capability sys_module;
dontaudit netutils_wrapper system_file:dir write;
r_dir_file(netutils_wrapper, vendor_sysfs_diag)
type netutils_wrapper, domain;
type netutils_wrapper_exec, exec_type, file_type, system_file_type;
