allow vendor_qlogd vendor_wifi_vendor_data_file:dir { add_name create open read remove_name search write };
allow vendor_qlogd vendor_wifi_vendor_data_file:file { create getattr open read unlink write };
allow vendor_qlogd vendor_modem_data_file:dir create_dir_perms;
allow vendor_qlogd vendor_modem_data_file:dir rw_dir_perms;
allow vendor_qlogd vendor_modem_data_file:file create_file_perms;
allow vendor_qlogd vendor_modem_data_file:file { create getattr open read unlink write };
allow vendor_qlogd vendor_modem_data_file:fifo_file { create getattr open read unlink write };
allow vendor_qlogd vendor_qlogd_exec:file rx_file_perms;
allow vendor_qlogd vendor_sysfs_qdss_dev:dir search;
allow vendor_qlogd vendor_sysfs_qdss_dev:file rw_file_perms;
allow vendor_qlogd vendor_qdss_device:chr_file rw_file_perms;
allow vendor_qlogd vendor_diag_device:chr_file rw_file_perms;
allow vendor_qlogd vendor_radio_vendor_data_file:file create_file_perms;
allow vendor_qlogd vendor_radio_vendor_data_file:dir create_dir_perms;
allow vendor_qlogd fuse:dir { add_name create open read remove_name search write };
allow vendor_qlogd fuse:file { create open read unlink write };
allow vendor_qlogd fuse:file getattr;
allow vendor_qlogd mnt_user_file:lnk_file read;
allow vendor_qlogd mnt_user_file:dir search;
allow vendor_qlogd vendor_ipa_dev:chr_file { ioctl open read };
allow vendor_qlogd vendor_data_file:dir rw_dir_perms;
allow vendor_qlogd vendor_data_file:fifo_file { create getattr open read unlink write };
allow vendor_qlogd vendor_data_file:file { create getattr open read unlink write };
init_daemon_domain(vendor_qlogd)
get_prop(vendor_qlogd, vendor_radio_prop)
set_prop(vendor_qlogd, vendor_modem_diag_prop)
type vendor_qlogd, domain;
type vendor_qlogd_exec, exec_type, file_type, vendor_file_type;
