allow surfaceflinger bootanim:binder transfer;
allow surfaceflinger vendor_sysfs_displayfeature:dir r_dir_perms;
allow surfaceflinger vendor_sysfs_displayfeature:file rw_file_perms;
allow surfaceflinger vendor_displayfeature_device:chr_file { ioctl open read write };
allow surfaceflinger sysfs_touch_hostprocess:dir r_dir_perms;
allow surfaceflinger sysfs_touch_hostprocess:file rw_file_perms;
allow surfaceflinger input_device:chr_file rw_file_perms;
allow surfaceflinger input_device:dir r_dir_perms;
allow surfaceflinger vendor_sysfs_graphics:dir { open read search };
allow surfaceflinger vendor_sysfs_graphics:file rw_file_perms;
allow surfaceflinger hal_touchfeature_xiaomi_hwservice:hwservice_manager find;
allow surfaceflinger hal_touchfeature_xiaomi_default:binder { call transfer };
allow surfaceflinger hal_touchfeature_xiaomi_default:fd *;
allow surfaceflinger vendor_hal_fingerprint_hwservice_xiaomi:hwservice_manager { add find };
allow surfaceflinger hal_fingerprint_default:binder { call transfer };
allow surfaceflinger hal_fingerprint_default:fd *;
allow surfaceflinger vendor_mfp-daemon:binder { call transfer };
allow surfaceflinger vendor_mfp-daemon:fd *;
dontaudit surfaceflinger firmware_file:dir search;
dontaudit surfaceflinger kernel:system module_request;
dontaudit surfaceflinger vendor_hal_qspmhal_hwservice:hwservice_manager find;
r_dir_file(surfaceflinger, vendor_sysfs_kgsl)
r_dir_file(surfaceflinger, vendor_sysfs_qfprom)
get_prop(surfaceflinger, vendor_displayfeature_prop)
get_prop(surfaceflinger, vendor_gralloc_prop)
get_prop(surfaceflinger, vendor_display_prop)
get_prop(surfaceflinger, vendor_fp_prop)
hal_client_domain(surfaceflinger, vendor_hal_perf)
hal_client_domain(surfaceflinger, vendor_hal_displayfeature_xiaomi)
type surfaceflinger, domain;
