neverallow untrusted_app graphics_device:chr_file { read write };
neverallow untrusted_app vendor_fp_info_prop:file *;
neverallow untrusted_app vendor_fp_info_prop:dir *;
neverallow untrusted_app vendor_fp_info_prop:property_service set;
allow untrusted_app sound_device:chr_file rw_file_perms;
allow untrusted_app goodix_fingerprint_service:service_manager find;
get_prop(untrusted_app, vendor_audio_prop)
hal_client_domain(untrusted_app, vendor_hal_dspmanager)
hal_client_domain(untrusted_app, vendor_hal_qspmhal)
hal_client_domain(untrusted_app, vendor_hal_qconfig)
hal_client_domain(untrusted_app, hal_otrpagent)
type untrusted_app, domain;
