allow vendor-qti-testscripts vendor_shell_exec:file { execute execute_no_trans };
allow vendor-qti-testscripts vendor_sysfs_qdss_dev:dir r_dir_perms;
allow vendor-qti-testscripts vendor_sysfs_qdss_dev:file rw_file_perms;
allow vendor-qti-testscripts vendor_sysfs_dcc:dir r_dir_perms;
allow vendor-qti-testscripts vendor_sysfs_dcc:file rw_file_perms;
allow vendor-qti-testscripts vendor_sysfs_memdump:dir r_dir_perms;
allow vendor-qti-testscripts vendor_sysfs_memdump:file rw_file_perms;
allow vendor-qti-testscripts vendor_toolbox_exec:file { execute execute_no_trans };
allow vendor-qti-testscripts vendor_sysfs_soc:dir r_dir_perms;
allow vendor-qti-testscripts vendor_sysfs_soc:file r_file_perms;
get_prop(vendor-qti-testscripts, vendor_usb_prop)
net_domain(vendor-qti-testscripts)
type vendor-qti-testscripts, domain, mlstrustedsubject;
type vendor-qti-testscripts_exec, exec_type, file_type, vendor_file_type;
